//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1199px;
$xxl: 1399px;

$mobile-width: 320px;
$small-width: 640px;
$tablet-width: 768px;
$tablet-plus-width: 1024px;
$laptop-width: 1200px;
$desktop-mini-width: 1366px;
$desktop-width: 1400px;
$desktop-plus-width: 1500px;
$desktop-large: 1920px;

//fonts
$font: SangBleuSunrise, Arial, sans-serif;
$font-helvetica: HelveticaNeueCyr, Arial, sans-serif;

//colors
$c-black: #000;
$c-white: #fff;
$c-blue: #05285e;
$c-txt-dark: #05285e;
$c-txt-light: #8d839b;


// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;
