<section class="p404">
    <div class="container">
        <div class="p404__inner">
            <h1 class="title title--xl">Erreur 404</h1>
            <h3 class="title title--m">Page introuvable</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <a href="index.html" class="button--blue">{{ icons.icon('arrow-right') }} Retour a l’accueil</a>
        </div>
    </div>
</section>