<div class="localisation__under">
    <section class="info-block localisation" id="localisation" >
        <div class="container">
            <div class="info-block__inner">
                <div class="info-block__left  info-block--img">
                    <div class="hero__right-inner">
                        <div class="hero__video" data-modal="hero-modal">
                            <svg viewBox="-20 10 800 600" class="svg-animation">
                                <path id="clip-local1"  class="clip1"
                                      d="M498.6,572.9c-46-11.9-47.5-36.3-108.1-66.9C260.5,433.3,108.1,454.3,36,373.3 c-65.5-71.4,72.9-196.3,145.6-247.9s175-157.3,280.8-73.3s143.9,101.6,204.8,149.4s127.2,130.3,2.6,270.7 C563.9,590.2,517,577.6,498.6,572.9z"/>
                                <path id="clip-local2"  class="clip2"
                                      d="M119,527.6c63.9,66.4,217.3,25.3,304-3.2c145.9-48,148.9,41.3,249.5-11.3 c90.5-45.6,39.9-190.8-8.5-272.9S540.5-6.2,406.8,35.5S240.5,61.4,163.7,84.9S-19.4,182.9,43,376.4C57.6,435.2,75.1,482,119,527.6z"/>
                                <clipPath id="clip-local">
                                    <path id="default-local"  class="default"
                                          d="M210.7,559.7c79.6,38,209.2-46.2,280.7-98.4c120.5-87.9,150.7-10.7,227.7-88.3 c69.9-68.3-21.8-179.5-91.9-236.1S436.8-39.9,325.8,38.7s-146.1,75-210.1,119.7S-23.7,301.7,93.6,451.3 C125.2,498.2,155.9,533.6,210.7,559.7z"></path>
                                </clipPath>
                                <image clip-path="url(#clip-local)" width="100%" height="100%"
                                       preserveAspectRatio="xMinYMin slice" x="0" y="0" width="100%"
                                       height="100%" xlink:href="./img/localisation.jpg" class=""></image>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="info-block__right  info-block--text">
                    <div class="info-block__right-dop">
                        <svg viewBox="-20 10 800 600" class="svg-animation">
                            <path id="clip-localDop1"  class="clip1"
                                  d="M210.7,559.7c79.6,38,209.2-46.2,280.7-98.4c120.5-87.9,150.7-10.7,227.7-88.3 c69.9-68.3-21.8-179.5-91.9-236.1S436.8-39.9,325.8,38.7s-146.1,75-210.1,119.7S-23.7,301.7,93.6,451.3 C125.2,498.2,155.9,533.6,210.7,559.7z"/>
                            <path id="clip-localDop2"  class="clip2"
                                  d="M57.6,534.9c67.6,67.6,247.7,11.7,330.4-1.2c141.1-22.1,190.9,44.6,250.4,9.9 C722.6,501.2,746,262,717.1,204.5C670,110.4,600.7,88.7,469.2,71.2c-79-10.5-112.5-39.4-195.3-47.1c-74.4-7-103.4-2-182.2,169.9 C39.6,307.4-0.7,454.9,57.6,534.9z"/>
                            <clipPath id="clip-localDop">
                                <path id="default-localDop"  class="default"
                                      d="M193,568.9c48.7,3,57.3-23.3,126-36.7c149.3-36,293.3,33.3,388-29.3 c85.3-54.7-14.7-228.7-71.3-305.3C579,120.9,509-21.7,380.3,33.6S209,95.6,135,126.9s-163.3,97.3-81.3,283.3 C123.7,566.9,151.5,566.4,193,568.9z"></path>
                            </clipPath>
                            <image clip-path="url(#clip-localDop)" width="100%" height="100%"
                                   preserveAspectRatio="xMinYMin slice" x="0" y="0" width="100%"
                                   height="100%" xlink:href="./img/local-dop.jpg" class=""></image>
                        </svg>
                    </div>
                    {{ titles.title("", "info-block", "l", "", "h2", 'split') }}
                    <h2 data-splitting
                        data-scroll
class="info-block__title title title--l">Environnement naturel</h2>
                    <div class="info-block__list">
                        <p data-scroll>À Clichy, dans la dynamique du renouveau du quartier des Berges de
                            Seine.</p>
                        <p data-scroll>À moins de 10 minutes de Paris.</p>
                        <p data-scroll>Métro, RER et Transilien faciles d'accès à pied, en navette, en vélo ou
                            en trotinette.</p>
                        <p data-scroll>Piscine, tennis, pistes cyclables, bars, restaurants ou épiceries à
                            proximité.</p>
                    </div>
                    <h4 data-scroll
class="info-block-sub__title title title--s ">Equinox, une qualité de vie nouvelle et
                        durable</h4>
                </div>
            </div>
        </div>
    </section>
</div>