<section class="text">
    <div class="container">
        <div class="privacy__inner">
            <h1>Politique de confidentialité</h1>
            <h4>Date: XX novembre 2021</h4>
            <h2>ECO IV EQUINOX SCI</h2>
            <p>(“nous”, “nos”, ou “notre”) exploite le site Internet immeuble-equinox.fr (le “service”). Cette page vous informe de nos politiques concernant la collecte, l’utilisation et la diffusion des données personnelles lorsque vous utilisez notre service et les choix que vous avez associés à ces données. Nous utilisons vos données pour fournir et améliorer le service. En utilisant le service, vous acceptez la collecte et l’utilisation des informations conformément à la présente politique.</p>

            <h3>Définitions</h3>

            <h4>Données personnelles. </h4>
            <p>Les données personnelles désignent les données concernant une personne vivante qui peut êtreidentifiée à partir de ces don nées (ou à partir de celles-ci ainsi que d’autres informations en notre possession ou susceptibles d’entrer en notre possession).</p>

            <h4>Données d’utilisation</h4>
            <p>Les données d’utilisation sont des données collectées automatiquement, générées soit par l’utilisation du service, soit par l’infrastructure du service elle-même (par exemple, la durée de consultation d’une page).</p>

            <h4>Cookies</h4>
            <p>Les cookies sont de petits fichiers de données stockés sur l’appareil d’un utilisateur.</p>

            <h4>Contrôleur de données</h4>
            <p>Contrôleur de données désigne une personne qui (seule ou conjointement avec d’autres personnes) détermine les finalités et modalités de traitement des données à caractère personnel qui sont ou seront traitées. Pour le site immeuble-equinox.fr ECO IV EQUINOX SCI est le titulaire du traitement de vos données.</p>

            <h4>Contrôleur de données</h4>
            <p>Contrôleur de données désigne une personne qui (seule ou conjointement avec d’autres personnes) détermine les finalités et modalités de traitement des données à caractère personnel qui sont ou seront traitées. Pour le site immeuble-equinox.fr ECO IV EQUINOX SCI est le titulaire du traitement de vos données.</p>

            <h4>Processeur de données (ou fournisseurs de services)</h4>
            <p>Processeur de données (ou fournisseur de services) désigne toute personne (autre qu’un employé du contrôleur de données) qui traite les données pour le compte du contrôleur de données. Nous pouvons utiliser les services de divers fournisseurs de services afin de traiter vos données plus efficacement.</p>

            <h4>Objet des données</h4>
            <p>La personne concernée est toute personne vivante qui fait l’objet de données personnelles.</p>

            <h4>Utilisateur</h4>
            <p>L’utilisateur est la personne qui utilise notre service. L’utilisateur correspond à la personne concernée, qui fait l’objet de données personnelles.</p>

            <h4>Collecte et utilisation des informations</h4>
            <p>Nous recueillons différents types d’informations à diverses fins, afin de vous fournir et d’améliorer notre service. </p>

            <h3>Types de données recueillies</h3>

            <h4>Données personnelles</h4>
            <p>Lors de l’utilisation de notre service, nous pouvons vous demander de nous fournir certaines informations personnelles identifiables qui peuvent être utilisées pour vous contacter ou vous identifier («données personnelles»). Les renseignements personnels identifiables peuvent inclure, sans toutefois s’y limiter : </p>
            <ul>
                <li>Adresse électronique</li>
                <li>Prénom et nom de famille</li>
                <li>Numéro de téléphone</li>
                <li>Cookies et données d’utilisation</li>
            </ul>
            <p>Nous pouvons utiliser vos données personnelles pour vous contacter, à votre demande, avec des bulletins d’information, du matériel marketing ou promotionnel et d’autres informations qui pourraient vous intéresser. Vous pouvez choisir de ne pas recevoir une partie ou la totalité de ces communications de notre part en suivant le lien de désabonnement ou les instructions fournies dans tout courriel que nous vous envoyons ou en communiquant avec nous.</p>

            <h4>Données d’utilisation</h4>
            <p>Nous pouvons également recueillir des informations sur la façon dont le service a été accédé et est utilisé («données d’utilisation»). Ces données d’utilisation peuvent inclure des informations telles que l’adresse IP de votre ordinateur, le type de navigateur, la version du navigateur, les pages de notre service que vous visitez, l’heure et la date de votre visite, le temps passé sur ces pages, les identifications uniques d’appareils et autres données de diagnostic.</p>

            <h4>Suivi et données des cookies</h4>
            <p>Nous utilisons des cookies et des technologies de suivi similaires pour suivre l’activité sur notre service et conserver certaines informations. Les cookies sont des fichiers contenant une petite quantité de données qui peuvent inclure un identifiant unique anonyme. Des cookies sont envoyés à votre navigateur à partir d’un site Web et stockés sur votre appareil. Les technologies de suivi utilisées sont également des balises, des tags et des scripts pour collecter et suivre les informations et pour améliorer et an alyser notre service. </p>
            <p>Vous pouvez demander à votre navigateur de refuser tous les cookies ou d’indiquer quand un cookie est envoyé. Toutefois, si vous n’acceptez pas les cookies, il se peut que vous ne puissiez pas utiliser certaines parties de notre service.</p>
            <p>Cookies de session. Nous utilisons des cookies de première session et des cookies de sessiontiers pour exploiter notre Service.</p>
            <p>Cookies préférences. Nous utilisons des cookies de préférences pour mémoriser vos préférences et divers paramètres.</p>

            <h4>Utilisation des données</h4>
            <p>ECO IV EQUINOX SCI utilise les données collectées à diverses fins :</p>
            <ul>
                <li>Pour fournir et maintenir notre service</li>
                <li>Pour vous informer des changements apportés à notre service</li>
                <li>Pour vous permettre de participer aux fonctions interactives de notre service lorsque vous choisissez de le faire</li>
                <li>Procéder à des analyses ou collecter des informations précieuses afin d’améliorer notre service.</li>
                <li>Pour surveiller l’utilisation de notre service</li>
                <li>Détecter, prévenir et résoudre les problèmes techniques</li>
                <li>Pour vous fournir des nouvelles, des offres spéciales et des informations générales sur d’autres produits, services et événements que nous offrons et qui sont similaires à ceux sur lesquels vous avez posé des questions, sauf si vous avez choisi de ne pas recevoir ces informations.</li>
            </ul>

            <h4>Conservation des données</h4>
            <p>ECO IV EQUINOX SCI ne conservera vos données personnelles qu’aussi longtemps que nécessaire aux fins énoncées dans la présente politique de confidentialité. Nous conserverons et utiliserons vos données personnelles dans la mesure nécessaire pour nous conformer à nos obligations légales (par exemple, si nous sommes tenus de conserver vos données pour nous conformer aux lois applicables), résoudre les litiges et appliquer nos accords et politiques juridiques.</p>
            <p>ECO IV EQUINOX SCI conservera également les données d’utilisation à des fins d’analyse interne. Les données d’utilisation sont généralement conservées pendant toute la durée de vie du site Web.</p>

            <h4>Transfert de données</h4>
            <p>Vos informations, y compris vos données personnelles, peuvent être transférées et conservées sur des ordinateurs situés en dehors de votre état, province, pays ou autre juridiction gouvernementale où les lois de protection des données peuvent différer de celles de votre juridiction.</p>
            <p>Si vous êtes situé en dehors de Suisse et choisissez de nous fournir des informations, veuillez noter que nous transférons les données, y compris les données personnelles, en Suisse et les traitons là-bas. D’autres fournisseurs de services (voir la section «Fournisseurs de services») peuvent détenir vos données dans d’autres juridictions – veuillez consulter leurs politiques de confidentialité pour de plus amples informations. Votre consentement à la présente politique de confidentialité, suivi de votre soumission de ces renseignements, constitue votre consentement à ce transfert.</p>
            <p>ECO IV EQUINOX SCIprendra toutes les mesures raisonnablement nécessaires pour s’assurer que vos données sont traitées en toute sécurité et conformément à cette politique de confidentialité et aucun transfert de vos données personnelles n’aura lieu vers une organisation ou un pays à moins que des contrôles adéquats soient en place, y compris la sécurité de vos données et a utres informations personnelles.</p>

            <h4>Diffusion des données</h4>
            <p>Diffusion selon application de la loi Dans certaines circonstances, ECO IV EQUINOX SCI peut être tenue de divulguer vos données personnelles si la loi l’exige ou en réponse à des demandes valables des autorités publiques (par exemple, un tribunal ou un organisme gouvernemental).</p>

            <h4>Exigences légales</h4>
            <p>ECO IV EQUINOX SCI peut divulguer vos données personnelles en croyant de bonne foi qu’une telle action est nécessaire pour :</p>
            <ul>
                <li>Pour se conformer à une obligation légale</li>
                <li>Protéger et défendre les droits ou la propriété deECO IV EQUINOX SCI</li>
                <li>Prévenir ou enquêter sur d’éventuels actes répréhensibles en rapport avec le service</li>
                <li>Pour protéger la sécurité personnelle des utilisateurs du service ou du public</li>
                <li>Pour se prémunir de la responsabilité civile</li>
            </ul>

            <h4>Sécurité des données</h4>
            <p>La sécurité de vos données est importante pour nous, mais n’oubliez pas qu’aucune méthode de transmission sur internet ou de stockage électronique n’est sûre à 100%. Bien que nous nous efforcions d’utiliser des moyens commercialement acceptables pour protéger vos données personnelles, nous ne pouvons garantir leur sécurité absolue.Les méthodes et procédures que nous utilisons pour protéger les données personnelles ont été choisies en fonction de l’importance évaluée des données personnelles et du risque pour la personne concernée. Cette évaluation a été effectuée dans le cadre de notre évaluation des facteurs relatifs à la vie privée et fait l’objet d’un examen annuel.</p>

            <h4>Vos droits</h4>
            <p>ECO IV EQUINOX SCI vise à prendre des mesures raisonnables pour vous permettre de corriger, modifier, supprimer ou limiter l’utilisation de vos données personnelles. Si vous souhaitez modifier vos données personnelles, veuillez nous contacter pour effectuer les modifications nécessaires.</p>
            <p>Si vous souhaitez être informé des données personnelles que nous détenons à votre sujet et si vous souhaitez qu’elles soient supprimées de nos systèmes, veuillez nous contacter.</p>
            <p>Dans certaines circonstances, vous avez le droit :</p>
            <ul>
                <li>D’accéder et recevoir une copie des données personnelles que nous détenons à votre sujet (Droit d’accès)</li>
                <li>De rectifier les données personnelles vous concernant qui sont inexactes (Droit de rectification)</li>
                <li>De demander la suppression des données personnelles vous concernant (Droit d’effacement)</li>
                <li>De vous opposer à tout moment au traitement des données personnelles à des fins telles que le marketing direct (Droit d’opposition)</li>
            </ul>
            <p>Vous avez le droit au transfert des données des informations que vous fournissez à ECO IVEQUINOX SCI. Vous pouvez demander à obtenir une copie de vos données personnelles dans un format électronique couramment utilisé afin que vous puissiez les gérer et les déplacer.</p>
            <p>Veuillez noter que nous pouvons vous demander de vérifier votre identité avant de répondre à de telles demandes. Nous vous informerons s’il n’est pas possible de continuer à utiliser notre service sans traiter vos données personnelles. Par exemple, s’il n’est pas possible d’utiliser un site Web qui inclut un système de connexion ayant recours à des cookies pour vérifier votre identité et vous garder connecté. </p>

            <h4>Fournisseurs de services et liens vers d’autres sites </h4>
            <p>Nous pouvons faire appel à des sociétés et personnes tierces pour fournir notre service («fournisseurs de services»), pour fournir le service en notre nom, pour fournir des services liés au service ou pour nous aider à analyser de quelle manière est utilisé notre service.</p>
            <p>Ces tiers n’ont accès à vos données personnelles que pour effectuer ces tâches en notre nom et sont tenus de ne pas les divulguer ou les utiliser à d’autres fins.</p>
            <p>Notre service peut également contenir des liens vers d’autres sites qui ne sont pas exploités par nous. Si vous cliquez sur un lien tiers, vous serez redirigé vers le site tiers. Nous vous conseillons fortement de consulter la politique de confidentialité de chaque site que vous visitez.</p>
            <p>Nous n’avons aucun contrôle et n’assumons aucune responsabilité quant au contenu, aux politiques de confidentialité ou aux pratiques des sites ou services de tiers. Veuillez cliquer sur les liens ci- dessous pour lire leurs politiques de confidentialité respectives. </p>
            <ul>
                <li>WordPress</li>
                <li>Google Analytics</li>
            </ul>

            <h4>Protection de la vie privée des enfants</h4>
            <p>Notre service ne s’adresse pas aux personnes de moins de 13 ans («enfants»). Si vous êtes un parent ou un tuteur et que vous savez que vos enfants nous ont fourni des données personnelles, veuillez nous contacter. Si nous apprenons que nous avons recueilli des données personnelles d’enfants sans vérification du consentement parental, nous prendrons des mesures pour supprimer ces informations de nos serveurs.</p>

            <h4>Modifications à cette politique de confidentialité</h4>
            <p>Nous pouvons mettre à jour notre politique de confidentialité de temps à autre. Nous vous informerons de tout changement en affichant la nouvelle politique de confidentialité sur cette page. Nous vous en informerons, avant que le changement n’entre en vigueur, par courriel et/ou par un avis visible sur notre service et mettrons à jour la «date d’entrée en vigueur» au début de la présente Politique de confidentialité.</p>
            <p>Nous vous conseillons de consulter périodiquement la présente politique de confidentialité pour prendre connaissance de tout changement. Les changements apportés à la présente politique de confidentialité entrent en vigueur lorsqu’ils sont affichés sur cette page. </p>

            <h4>Nom et adresse du contrôleur</h4>
            <p>Le contrôleur du traitement aux fins du règlement général sur la protection des données (RGPD), d’autres lois sur la protection des données applicables dans les États membres de l’Union européenne et d’autres dispositions relatives à la protection des données est :</p>
            <p>ECO IV EQUINOX SCI </p>
            <p>4 rue de Marivaux, 75002 Paris</p>

            <h4>Contactez-nous </h4>
            <p>Si vous avez des questions au sujet de cette politique de confidentialité, n’hésitez pas à nous contacter :</p>
            <ul>
                <li>Par courriel : <a href="mailto:bholloway@marathonfund.com">bholloway@marathonfund.com</a> </li>
            </ul>
        </div>
    </div>
</section>