<section class="syenergy info-block" id="syenergy" data-scroll-section >
    <div class="container">
        <div class="info-block__inner">
            <div class="info-block__left  info-block--img">
                <div class="hero__right-inner">
                    <div class="hero__video">
                        <svg viewBox="-20 10 760 590" class="svg-animation">
                            <path class="clip2" d="M503,17.9c-46.6,9.8-48.5,35.3-110,64.6c-132.1,69.9-284.5,44.9-358.7,124.7 c-67.3,70.3,68.6,199.4,140.4,253.1s172,162.7,280,80.8s146.7-98.6,208.9-145.3s130.6-128,8.8-272.4C568.9,2.1,519.2,14.5,503,17.9 z"></path>
                            <path id="clip-syenergy1"  class="clip1"
                                  d="M193,568.9c48.7,3,57.3-23.3,126-36.7c149.3-36,293.3,33.3,388-29.3 c85.3-54.7-14.7-228.7-71.3-305.3C579,120.9,509-21.7,380.3,33.6S209,95.6,135,126.9s-163.3,97.3-81.3,283.3 C123.7,566.9,151.5,566.4,193,568.9z"/>
                            <clipPath id="clip-syenergy">
                                <path id="default-syenergy" class="default"
                                      d="M503,17.9c-46.6,9.8-48.5,35.3-110,64.6c-132.1,69.9-284.5,44.9-358.7,124.7 c-67.3,70.3,68.6,199.4,140.4,253.1s172,162.7,280,80.8s146.7-98.6,208.9-145.3s130.6-128,8.8-272.4C568.9,2.1,519.2,14.5,503,17.9 z"></path>
                            </clipPath>
                            <image clip-path="url(#clip-syenergy)" width="100%" height="100%"
                                   preserveAspectRatio="xMinYMin slice" x="0" y="0"  width="100%"  height="100%" xlink:href="./img/syenergy.jpg" class=""></image>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="info-block__right  info-block--text">
                <h2 class="reverse info-block__title title title--l words chars splitting"
                    data-splitting
                    >Synergie quotidienne</h2>
                <div class="info-block__list">
                    <p data-scroll>900 m² d'espaces partagés de convivialité, de services et de travail.</p>
                    <p data-scroll>Une véritable source d'intelligence collective et de bien-être.</p>
                    <p data-scroll
    >Un quotidien facilité par une réponse innovante.</p>
                </div>
                <h4 class="info-block-sub__title title title--s">Equinox, un état d'esprit</h4>
            </div>
        </div>
    </div>
</section>