<section class="traveller info-block">
    <div class="container">
        <div class="info-block__inner">
            <div class="info-block__left  info-block--img">
                <div class="hero__right-inner">
                    <div class="hero__video" data-modal="hero-modal">
                        <svg viewBox="-20 10 800 600" class="svg-animation">
                            <path id="clip-Traveller1" class="clip1"
                                  d="M210.7,559.7c79.6,38,209.2-46.2,280.7-98.4c120.5-87.9,150.7-10.7,227.7-88.3 c69.9-68.3-21.8-179.5-91.9-236.1S436.8-39.9,325.8,38.7s-146.1,75-210.1,119.7S-23.7,301.7,93.6,451.3 C125.2,498.2,155.9,533.6,210.7,559.7z"/>
                            <path id="clip-Traveller2"  class="clip2"
                                  d="M57.6,534.9c67.6,67.6,247.7,11.7,330.4-1.2c141.1-22.1,190.9,44.6,250.4,9.9 C722.6,501.2,746,262,717.1,204.5C670,110.4,600.7,88.7,469.2,71.2c-79-10.5-112.5-39.4-195.3-47.1c-74.4-7-103.4-2-182.2,169.9 C39.6,307.4-0.7,454.9,57.6,534.9z"/>
                            <clipPath id="clip-Traveller">
                                <path id="default-Traveller"  class="default"
                                      d="M503,17.9c-46.6,9.8-48.5,35.3-110,64.6c-132.1,69.9-284.5,44.9-358.7,124.7 c-67.3,70.3,68.6,199.4,140.4,253.1s172,162.7,280,80.8s146.7-98.6,208.9-145.3s130.6-128,8.8-272.4C568.9,2.1,519.2,14.5,503,17.9 z"></path>
                            </clipPath>
                            <image clip-path="url(#clip-Traveller)" width="100%" height="100%"
                                   preserveAspectRatio="xMinYMin slice" x="0" y="0"  width="100%"
                                   height="100%" xlink:href="./img/traveller.jpg" class=""></image>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="info-block__right  info-block--text">
                <h2 class="info-block__title title title--l"
                    data-splitting>Travailler autrement</h2>
                <div class="info-block__list">
                    <p data-scroll   >2500 m² de terrasses accessibles et végétalisées.</p>
                    <p data-scroll   >Des terrasses privatives ou partagées.</p>
                    <p data-scroll   >Pour des moments uniques de rencontre ou de pause.</p>
                </div>
                <h4 class=" info-block-sub__title title title--s ">Equinox, un art de vivre</h4>
            </div>
        </div>
    </div>
</section>