<section class="types-slider">
    <div class="types-slider__container">
        <div class="custom-wrapper-type">
            <div class="custom-slide-type">
                <img src="./img/types1.png" class="custom-slide-type__background">
                <img src="../img/bring.png" class="custom-slide-type__img">
                <h4 class="types-slider__title title not-anim">Accueil</h4>
                <p>Welcome Manager & Desk, animations du lobby par des expositions, design sonore.</p>
            </div>
            <div class="custom-slide-type">
                <img src="./img/types2.png" class="custom-slide-type__background">
                <img src="../img/fork.png" class="custom-slide-type__img">
                <h4 class="types-slider__title title not-anim">RESTAURATION</h4>
                <p>Fresh’ bar, Salad’ bar, Show’ bar, frigos connectés, click & collect, room service.</p>
            </div>
            <div class="custom-slide-type--left custom-slide-type">
                <img src="./img/types3.png" class="custom-slide-type__background">
                <img src="../img/secure.png" class="custom-slide-type__img">
                <h4 class="types-slider__title title not-anim">Sécurité</h4>
                <p>PC 7/7 24/24, contrôle d’accès par badge, video-protection</p>
            </div>
            <div class="custom-slide-type">
                <img src="./img/types4.png" class="custom-slide-type__background">
                <img src="../img/lampa.png" class="custom-slide-type__img">
                <h4 class="types-slider__title title not-anim">PRATIQUE / GAIN DE TEMPS</h4>
                <p>Conciergerie, self & fast checking visiteurs, casiers connectés, manutention, aide au déménagement et à l’installation, quai de livraison, bornes de recharges électriques voiture</p>
            </div>
            <div class="custom-slide-type">
                <img src="./img/types2.png" class="custom-slide-type__background">
                <img src="../img/people.png" class="custom-slide-type__img">
                <h4 class="types-slider__title title not-anim">Communauté</h4>
                <p>Animations saisonnières, organisation d’événements privés, séminaires, enquête de
                    satisfaction…</p>
            </div>
            <div class="custom-slide-type">
                <img src="./img/types6.png" class="custom-slide-type__background">
                <img src="../img/fitnes.png" class="custom-slide-type__img">
                <h4 class="types-slider__title  title not-anim">Fitness / bien être</h4>
                <p>Une offre d’activités sportives, de soins esthétiques ou de bien-être à la carte</p>
            </div>
            <div class="custom-pagination">
                <span class="custom-pagination__progressbar" id="custom-pagination__progressbar"></span>
            </div>
        </div>
    </div>
</section>